html {
  scroll-snap-type: y mandatory;
}

.right_nav {
  display: flex;
  margin-left: 250px;
  height: 94.55vh;
}

.comments_container {
  min-width: 250px;
}

.comments_header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video_container {
  position: relative;
  width: 100%;
  overflow: scroll;
  height: 100%;
  scroll-snap-type: y mandatory;
  background-color: black;
}

.video_container::-webkit-scrollbar {
  display: none;
}

.buttons_container {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 500px;
  z-index: 10;
}
.center_container {
  width: 100%;
}

.video_holder {
  height: 94.55vh;
  scroll-snap-align: start;
}

.video_player {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
