* {
  margin: 0;
  padding: 0;
}

.comment_container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 10px;
}

.comment_info {
  display: flex;
  flex-direction: column;
}

.comment_top,
.message_info {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.comment_image {
  padding-right: 8px;
}

.comment_username,
.message_username {
  font-weight: 700;
  margin-right: 6px;
  color: #45a29e;
}

.comment_time,
.message_time {
  font-size: 12px;
  color: #c5c6c7;
}

.comments_container {
  height: 95vh;
  min-width: 25vw;
  max-width: 25vw;
  background-image: url("../images/background4.jpeg");
}

.comments_header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.all_comments {
  overflow-y: scroll;
  height: 85vh;
}

.all_comments::-webkit-scrollbar {
  display: none;
}

.comment_form,
.message_form {
  display: flex;
  height: 5vh;
}

.comment_input,
.message_input {
  width: 100%;
}

.scrolling_div {
  width: 100%;
  margin-top: 10px;
}

.comment_text {
  color: #c5c6c7;
}
