.profile_container {
  background-color: #c5c6c7;
  height: 100vh;
}

.logout_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.logout_button {
  border-radius: 10px;
  outline: none;
  padding: 3.5px;
}

.logout_button:hover {
  cursor: pointer;
  background-color: #1f2833;
  color: white;
}

.profile_user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.profile_user_image {
  height: 100px;
  width: 100px;
}

.profile_my_videos_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid red;
  height: 72.3%;
}

.profile_my_videos_container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* height: 100%; */
    border: 3px solid blue;
}
