body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.left_navbar {
  display: flex;
  flex-direction: column;
  float: left;
  height: 94.55vh;
  position: fixed;
  top: 0;
  box-sizing: inherit;
  width: 250px;
}

.left_navbar_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_navbar {

  display: flex;
  flex-direction: row;
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: inherit;
}

.user_logout_container, .user_info{
  display: flex;
  align-items: center;
  justify-content: center;
}