body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a:link {
  text-decoration: none;
}

a {
  color: #66fcf1;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.left_navbar {
  display: flex;
  flex-direction: column;
  float: left;
  height: 95vh;
  position: fixed;
  top: 0;
  box-sizing: inherit;
  width: 250px;
  background-color: #1F2833;
  color: #45a29e;
}

.left_navbar_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_navbar {
  display: flex;
  flex-direction: row;
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: inherit;
  background-color: #1F2833;
  color: #45a29e;
  border-top: 1px solid #C5C6C7;
  z-index: 1000;
}

.user_logout_container,
.user_info {
  display: flex;
  align-items: center;
  justify-content: center;
}
